/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.event-wrapper {
    width: 80%;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#event-box {
    height: 600px;
    overflow-y: auto;
    border: 2px solid #ccc;
    padding: 10px;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.notification img {
    flex: 10%;
    max-width: 30px;
    max-height: 30px;
    margin-right: 20px;
}

.notification div {
    text-align: left;
    flex: 40%;
}

.notification div:nth-of-type(2) {
    text-align: right;
}

.widget-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.widget {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
}

.widget-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 50px;
    height: 50px;
    flex: 20%;
    border-right: 1px solid rgb(128, 128, 128);
}

.widget-temperature, .widget-temperature2 {
    background-image: url("./assets/temperature.png");
}

.widget-humidity {
    background-image: url("./assets/humidity.png");
}

.widget-info {
    flex: 80%;
    text-align: center;
}

.widget-text {
    font-size: 14px;
    font-weight: bold;
}

.widget-text span {
    font-weight: normal;
}

.widget-value {
    font-size: 18px;
    color: #007BFF;
}